name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  LatestVersionBuild:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04]
        swift: ["5.5"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: marcprux/setup-swift@a990bc57c514a77d232b645843ade099af21aa5e
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v2
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
  OlderVersionBuild:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        swift: ["5.4.3", "5.3.3", "5.2.5"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: marcprux/setup-swift@a990bc57c514a77d232b645843ade099af21aa5e
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v2
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
  SwiftLint:
    name: SwiftLint version 3.2.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
